
.wrapper {
    background-color: #fafafa ;
}

header{
    width : 100%;
    height : 80px;
    background: pink;
}

main{
    width : 100%;  
    height : 100vh;
    background: green;
    flex-direction: row;
    display: flex;
}

.left-menu{
    width : 250px;  
    height : 100vh;
    background: blue; 
    overflow-y: scroll
}

.right-section{
    width : 100%;  
    height : 100vh;
    background: red; 
}

.menu-item{
    height : 50px;
    width : 100%;
    margin-top : 1px;
    background: yellow; 
}

.top-section{
    height : 50%;
    background: blue;
    margin : 10px;
    /* overflow-x: scroll;
    white-space: nowrap; */
}

.bottom-section{
    height : 50%;
    width : 100% - 20px;
    background: black;
    margin : 10px;
}

.scroll-item{
    margin: 10px;
    height : 100%;
    width : 100px;
    margin-top : 1px;
    background: yellow; 
    display: inline-block;
}
